@use "../abstracts" as *;
.open {
  overflow: hidden;
}
.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.container {
  padding-top: 212px;
  flex: 1;
}

footer {
  padding: 20px 24px 27px;
  background-color: #fff;
  .footer-container {
    text-align: center;
    @include fontDefinition(14px, 400, 150%);
    color: #777;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, #5c5df8 0%, #4c4ddc 100%);
  z-index: 99999;
  .header-inner {
    padding: 0 24px;
  }
}
.header-top {
  @include flex(10px);
  align-items: center;
  padding: 16.5px 0;
  .header-store-name {
    flex: 1;
    text-align: center;
    @include fontDefinition(18px, 700, 150%);
    color: #fff;
  }
  .header-menu-btn {
    margin-left: auto;
    .menu-btn {
      display: block;
      width: 24px;
      height: 24px;
      background: url(/assets/images/common/burger_menu.svg) no-repeat center
        center;
      background-size: cover;
    }
  }
}
.header-body {
  padding: 20px 0;
  .header-store-btn {
    margin-bottom: 18px;
  }
}
.header-data-wrap {
  @include flex(10px);
  align-items: center;
  .header-data-img {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #6f70fa;
  }
  .header-data-list {
    @include flex(0px);
    align-items: center;
    .header-data-item {
      position: relative;
      @include fontDefinition(15px, 400, 150%);
      color: #fff;
      padding: 0 8px;
      span {
        font-weight: 600;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.6);
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 321px) {
}
