@use "../abstracts" as *;

.modal-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1100000;
  .modal-dialog {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100% - (24px * 2));
    max-width: 1280px;
    z-index: 111000;
    margin: 24px auto;
    pointer-events: none;
    font-size: $font-ds-14;
    &.min {
      max-width: 307px;
    }
    &.alert {
      max-width: 480px;
    }
    .modal-content {
      flex: 1;
      width: calc(100% - 32px);
      position: relative;
      margin: 0 16px;
      background-clip: padding-box;
      background-color: transparent;
      outline: 0 none;
      pointer-events: auto;
      .modal-header {
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 16px;
        .modal-close {
          position: relative;
          margin-left: auto;
          display: block;
          width: 44px;
          height: 44px;
          background-color: #fff;
          border-radius: 50%;
          &:before {
            content: "";
            @include absoluteCenter;
            width: 12px;
            height: 12px;
            background: url(/assets/images/common/pop_close.svg) no-repeat
              center center;
            background-size: cover;
          }
        }
      }
      .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        // padding: 10px;
      }
      .modal-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 10px;
      }
    }
  }
}
