@use '../abstracts' as *;

.badge {
  flex: none;
  display: inline-block;
  @include fontDefinition(12px, 600, 150%);
  color: #fff;
  border-radius: 100px;
  padding: 3px 8px;
  margin-top: -1px;
  &.todo {
    background-color: #81b7fa;
  }
  &.break {
    background-color: #f7818c;
  }
}
.sub-badge {
  display: inline-block;
  @include fontDefinition(14px, 600, 24px);
  color: #1a1a1a;
  height: 24px;
  border-radius: 8px;
  padding: 0px 8px;
  &.green {
    background-color: #ebf6f2;
    color: #36886a;
  }
  &.red {
    background-color: #fef0f0;
    color: #d42626;
  }
  &.brown {
    background-color: #f3f0eb;
    color: #886436;
  }
}
.data-list-arr {
  display: block;
  width: 32px;
  height: 32px;
  background: url(/assets/images/contents/data_list_arr.svg) no-repeat center center;
  background-size: cover;
}
.sub-edit-btn {
  display: block;
  width: 32px;
  height: 32px;
  background: url(/assets/images/contents/edit_icon.svg) no-repeat center center;
  background-size: cover;
}
.filed-flx {
  @include flex(0px);
  align-items: center;
}
.data-wrap {
  padding: 32px 24px 0;
  .data-tit {
    @include fontDefinition(18px, 600, 150%);
    color: #1a1a1a;
    margin-bottom: 10px;
  }
}

.data-delete-btn-wrap {
  margin-bottom: 18px;
}
.sub-tit-wrap {
  @include flex(0px);
  align-items: center;
  margin-bottom: 15px;
  .sub-tit {
    @include fontDefinition(18px, 600, 140%);
    color: #1a1a1a;
  }
  .sub-tit-btn {
    margin-left: auto;
  }
}

.data-table {
  width: 100%;
  th {
    @include fontDefinition(15px, 500, 140%);
    color: #767676;
    padding: 5px 0;
    vertical-align: top;
  }
  td {
    @include fontDefinition(15px, 400, 140%);
    color: #1a1a1a;
    padding: 5px 0 5px 24px;
    vertical-align: top;
  }
  tr {
    &:first-child {
      th,
      td {
        padding-top: 0;
      }
    }
    &:last-child {
      th,
      td {
        padding-bottom: 0;
      }
    }
  }
}

// 할일 및 공휴일 리스트
.date-list-wrap {
  margin-top: 28px;
  .date-list-tit {
    @include fontDefinition(18px, 600, 150%);
    color: #1a1a1a;
    padding: 0 24px 18px;
    border-bottom: 1px solid #ededed;
  }
}

.date-cont-list {
  padding: 0 24px;
  .date-cont-item {
    padding: 24px 0 18px;
    border-bottom: 1px solid #ededed;
  }
}

.date-cont-bx {
  position: relative;
  @include flex(0px);
  align-items: center;
  padding-left: 20px;
  .date-cont-ring {
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}
.date-cont-info {
  .date-cont-info-name {
    @include fontDefinition(15px, 500, 150%);
    color: #1a1a1a;
    margin-bottom: 0px;
  }
  .date-cont-info-time {
    @include fontDefinition(14px, 400, 150%);
    color: #1a1a1a;
  }
}
.date-check-btn-wrap {
  @include flex(4px);
  align-items: center;
  margin-left: auto;
  .date-check-btn {
    padding: 9px 14px;
    border-radius: 80px;
  }
}
.date-cont-todo {
  @include flex(8px);
  align-items: flex-start;
  margin-top: 5px;
  @include fontDefinition(14px, 400, 150%);
  color: #2379e4;
}
.date-cont-break {
  @include flex(8px);
  align-items: flex-start;
  margin-top: 5px;
  @include fontDefinition(14px, 400, 150%);
  color: #f34a5a;
}

// 근무처/급여계좌 설정
.data-list {
  @include flex(12px);
  flex-direction: column;
  .data-item {
    text-align: left;
    padding: 24px 20px;
    border-radius: 18px;
    background-color: #fff;
  }
}

.workplace-item-inner {
  @include flex(0px);
  align-items: center;
  .workplace-info {
    .workplace-info-name {
      @include fontDefinition(16px, 600, 140%);
      color: #1a1a1a;
      margin-top: 8px;
    }
    .workplace-info-desc {
      @include fontDefinition(15px, 400, 150%);
      color: #505050;
      margin-top: 4px;
    }
  }
  .workplace-arr {
    margin-left: auto;
  }
}
.data-btn-wrap {
  margin-top: 24px;
}
.workplace-empty {
  @include fontDefinition(16px, 500, 150%);
  color: #767676;
  text-align: center;
}
