@use "../abstracts" as *;

.login-contents{
  padding: 32px 24px;
}
.login-header{
  text-align: center;
  margin-bottom: 24px;
  .logo{
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
  }
  .login-b-tit{
    @include fontDefinition(28px, 700, 150%);
    color: #444;
  }
  .login-s-tit{
    @include fontDefinition(13px, 500, 150%);
    color: #444;
  }
}

.login-form{
  padding: 28px 16px 32px;
  background-color: #F5F5F5;
  border-radius: 12px;
  .login-form-tit{
    @include fontDefinition(18px, 600, 150%);
    color: #444;
    text-align: center;
    margin-bottom: 24px;
  }
}
.login-form-btn{
  @include flex(8px);
  button{
    width: 100%;
  }
}

.login-check-wrap{
  @include flex(8px);
  align-items: center;
  margin-top: 18px;
  .find-btn-wrap{
    margin-left: auto;
    .find-btn{
      @include fontDefinition(14px, 400, 150%);
      color: #777;
    }
  }
}

.another-login-wrap{
  margin-top: 24px;
  .another-login-tit{
    @include fontDefinition(15px, 600, 150%);
    color: #444;
    margin-bottom: 14px;
  }
  .another-login-btn-wrap{
    @include flex(10px);
    flex-direction: column;
  }
}