@use '../abstracts' as *;

.pop-frame {
  padding: 28px 24px 24px;
  border-radius: 32px;
  background-color: #fff;
  .pop-frame-tit {
    @include fontDefinition(20px, 700, 150%);
    color: #1a1a1a;
    padding-bottom: 12px;
    border-bottom: 1px solid #1a1a1a;
  }
  .pop-btn-wrap {
    @include flex(8px);
    align-items: center;
    margin-top: 24px;
  }
}
.qr-frame-tit {
  @include fontDefinition(16px, 600, 150%);
  color: #1a1a1a;
  margin-bottom: 17px;
}
.qr-btn-wrap {
  @include flex(6px);
  margin-top: 18px;
}

.alert-wrap {
  padding: 24px 20px;
  border-radius: 24px;
  background-color: #fff;
  .alert-txt {
    text-align: center;
    span {
      display: block;
      @include fontDefinition(15px, 400, 150%);
      color: #1a1a1a;
    }
  }
  .alert-btn-wrap {
    @include flex(8px);
    justify-content: center;
    margin-top: 18px;
  }
}

// 비밀번호 변경
.filed-wrap {
  margin-top: 28px;
  .filed-item {
    margin-top: 18px;
    &:first-child {
      margin-top: 0;
    }
    .filed-item-tit {
      @include fontDefinition(15px, 600, 150%);
      color: #1a1a1a;
      margin-bottom: 12px;
    }
  }
}
