@use "../abstracts" as *;

// check radio 공통
.check-form-box input[type="checkbox"],
.radio-form-box input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 1;
  flex: 0 0 auto;
  cursor: pointer;
}
.check-form-box label,
.radio-form-box label {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  line-height: $line-h-140;
  font-size: $check-mb-font;
  color: $check-c-font;
  vertical-align: top;
  word-break: break-all;
  font-weight: $font-w-400;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// check box
.check-form-box {
  position: relative;
  label {
    padding-left: 26px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0px;
      left: 0;
      margin-left: 0px;
      border: 1px solid $check-c-bord;
      border-radius: 4px;
      background-color: #fff;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out,
        background-color 0.15s ease-in-out;
      cursor: pointer;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 6px;
      height: 9px;
      border: 1px solid transparent;
      border-left: none;
      border-top: none;
      transform: translate(7.75px, 4.5px) rotate(45deg);
      -ms-transform: translate(7.75px, 4.5px) rotate(45deg);
      cursor: pointer;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
  }
  input[type="checkbox"]:checked + label {
    color: #1a1a1a;
  }
  input[type="checkbox"]:checked + label::before {
    background-color: $check-c-back;
    border-color: #1a1a1a;
  }
  input[type="checkbox"]:checked + label::after {
    content: "";
    border-color: #1a1a1a;
  }
  input[type="checkbox"]:disabled + label {
    cursor: default;
    color: $check-disabled-c-font;
    &::before {
      background-color: #fff;
      cursor: default;
    }
    &:after {
      cursor: default;
    }
  }
  input[type="checkbox"]:disabled:checked + label::before {
    background-color: #a8b6c7;
    border-color: #a8b6c7;
  }
  &.mb {
    label {
      padding-left: 30px;
      font-size: $check-mb-font;
      &::before {
        width: 20px;
        height: 20px;
      }
      &:after {
        width: 7px;
        height: 11px;
        top: -3px;
        left: -1px;
      }
    }
  }
  &.half {
    label {
      &:after {
        top: 3px;
        left: -4px;
        width: 10px;
        height: 2px;
        transform: translate(7.75px, 4.5px) rotate(0deg);
      }
    }
  }
}

// radio box
.radio-form-box {
  position: relative;
  label {
    padding-left: 28px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -1px;
      left: 0;
      margin-left: 0;
      border: 1px solid $check-c-bord;
      border-radius: 100%;
      background-color: #fff;
      text-align: center;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      cursor: pointer;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 6px;
      width: 8px;
      height: 8px;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color 0.1s ease-in-out;
    }
  }
  input[type="radio"]:checked + label {
    color: #1a1a1a;
  }
  input[type="radio"]:checked + label::before {
    border-color: #1a1a1a;
  }
  input[type="radio"]:checked + label::after {
    background-color: #1a1a1a;
  }
  input[type="radio"]:disabled + label {
    cursor: default;
    color: $check-disabled-c-font;
    &::before {
      cursor: default;
    }
    &::after {
      cursor: default;
    }
  }
  input[type="radio"]:disabled:checked + label::before {
    border-color: #a8b6c7;
  }
  input[type="radio"]:disabled:checked + label::after {
    background-color: #a8b6c7;
  }
}

//toggle
.toggle-btn {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  padding-right: 12px;
  input {
    display: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    border-radius: 20px;
    text-align: center;
    line-height: $line-h-140;
    color: $check-c-font;
    font-size: $check-ds-font;
    font-weight: $font-w-400;
    text-indent: 54px;
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2px;
      background-color: $white-fff;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
  input:checked + .slider {
    background-color: $check-c-back;
    &:before {
      transform: translateX(20px);
    }
  }
  &.mb {
    .slider {
      font-size: $check-mb-font;
      text-indent: 52px;
    }
  }
}
