.date-picker-custom{
  .react-datepicker-wrapper,
  .react-datepicker__input-container{
    display: block;
    width: 100%;
  }
  .react-datepicker__input-container{
    position: relative;

    &:focus-within {
      &::before{
        background-color: #948EA5 ; // 원하는 색상 변수로 교체
      }
    }
  }
  .date-picker-input{
    position: relative;
    display: block;
    width: 100%;
    min-width: 150px;
    background-color: #fff;
    height: 36px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    padding: 0 32px 0 12px;
    border: 1px solid #E9EDF5;
    background-image: url(../../../public/assets/images/common/datepicker.svg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out;
    &:focus{
      border-color: #948EA5;
    }
    &:disabled{
      color: #D0C9D6;
      background-color: #ECEBED;
      border-color: #ECEBED;
      cursor: default;
    }
  }
  .react-datepicker-popper{
    z-index: 10;
    svg{
      stroke: #E4E4E4;
      fill: #fff !important;
      color: #fff !important;
    }
  }
  .react-datepicker{
    position: relative;
    font-family: 'Pretendard', sans-serif;
    border-radius: 24px;
    border: 1px solid #E4E4E4;
  }
  .react-datepicker__header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px 24px 0 24px;
    border-radius: 24px;
    border-top-right-radius: 24px !important;
  }
  .react-datepicker__current-month{
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .react-datepicker__day-name{
    font-size: 12px;
    color: #3A383F;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .react-datepicker__navigation{
    top: 22px;
    background-color: rgba(28, 28, 28, 0.05);
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  .react-datepicker__navigation--previous{
    left: 24px;
  }
  .react-datepicker__navigation--next{
    right: 24px;
  }
  .react-datepicker__navigation-icon{
    &::before{
      width: 7px;
      height: 7px;
      border-width: 1px 1px 0 0;
      border-color: #000;
      top: 9px;
    }
  }
  .react-datepicker__navigation-icon--previous{
    &::before{
      right: -3px;
    }
  }
  .react-datepicker__navigation-icon--next{
    &::before{
      left: -3px;
    }
  }
  .react-datepicker__month{
    margin: 0;
    padding: 5px 24px 24px 24px;
  }
  .react-datepicker__day{
    font-size: 14px;
    font-weight: 400;
    color: #3A383F;
  }
  .react-datepicker__day--outside-month{
    color: #3A383F;
    opacity: 0.5;
  }
  .react-datepicker {
    &__day,
    &__month-text,
    &__quarter-text,
    &__year-text {
      &--selected,
      &--in-selecting-range,
      &--in-range {
        color: #fff;
      }
    }
  }
  .react-datepicker {
    &__day,
    &__month-text, 
    &__quarter-text,
    &__year-text {
      &--selected,
      &--in-selecting-range,
      &--in-range {
        &:not([aria-disabled=true]):hover {
          color: #fff;
        }
      }
    }
  }
}