/* align */
.al-c{text-align: center !important;}
.al-r{text-align: right !important;}
.al-l{text-align: left !important;}

/* text-transform */
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }

/* margin */
.m0{margin: 0 !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mr5{margin-right: 5px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr25{margin-right: 25px !important;}
.mr30{margin-right: 30px !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}


// shadows
.shadow01{box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.00), 0px 1px 1px 0px rgba(0, 0, 0, 0.00), 0px 1px 1px 0px rgba(0, 0, 0, 0.01), 0px 0px 1px 0px rgba(0, 0, 0, 0.01);}
.shadow02{box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.00), 0px 3px 1px 0px rgba(0, 0, 0, 0.00), 0px 2px 1px 0px rgba(0, 0, 0, 0.01), 0px 1px 1px 0px rgba(0, 0, 0, 0.01);}
.shadow03{box-shadow: 0px 21px 6px 0px rgba(0, 0, 0, 0.00), 0px 13px 5px 0px rgba(0, 0, 0, 0.00), 0px 8px 5px 0px rgba(0, 0, 0, 0.01), 0px 3px 3px 0px rgba(0, 0, 0, 0.01), 0px 1px 2px 0px rgba(0, 0, 0, 0.01);}
.shadow04{box-shadow: 0px 42px 12px 0px rgba(0, 0, 0, 0.00), 0px 27px 11px 0px rgba(0, 0, 0, 0.00), 0px 15px 9px 0px rgba(0, 0, 0, 0.02), 0px 7px 7px 0px rgba(0, 0, 0, 0.03), 0px 2px 4px 0px rgba(0, 0, 0, 0.03);}
.shadow05{box-shadow: 0px 69px 19px 0px rgba(0, 0, 0, 0.00), 0px 44px 18px 0px rgba(0, 0, 0, 0.01), 0px 25px 15px 0px rgba(0, 0, 0, 0.03), 0px 11px 11px 0px rgba(0, 0, 0, 0.04), 0px 3px 6px 0px rgba(0, 0, 0, 0.05);}
.shadow06{box-shadow: 0px 104px 29px 0px rgba(0, 0, 0, 0.00), 0px 67px 27px 0px rgba(0, 0, 0, 0.01), 0px 38px 23px 0px rgba(0, 0, 0, 0.05), 0px 17px 17px 0px rgba(0, 0, 0, 0.09), 0px 4px 9px 0px rgba(0, 0, 0, 0.10);}

// block
.block{width: 100%;}

// radius
.radius-4{border-radius: 4px;}
.radius-8{border-radius: 8px;}
.radius-12{border-radius: 12px;}
.radius-24{border-radius: 24px;}

// important
.imp{color: #F00 !important;}

// font-color
.sky{color: #01ADFF !important;}
.blue{color: #1949D8 !important;}
.red{color: #E93737 !important;}
.green{color: #3BAE4D !important;}
.lgreen{color: #02A596 !important;}
.dyellow{color: #AEAA3B !important;}

// animations
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}